body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f8fc;
    color: #333;
}

h1 {
    color: #2c3e50;
    margin-bottom: 30px;
}

.container {
    max-width: 700px;
    padding: 40px;
    margin-top: 50px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.list-group-item {
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

.list-group-item:hover {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
}

.btn-primary:hover {
    background-color: #2980b9;
}

.form-control {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.btn-link {
    color: #3498db;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
}
